* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #ffe1e1;
  color : #ffffff;
}

.Card {
  height: 100px;
  width: 100%;
  padding: 20px;
  margin: 20px;
  background-color: pink;
  color: #111;
  border-radius: 10px;
}

.Nav {
  height: 50px;
  width: 100%;
  padding: 10px;
  margin: 20px;
  background-color: cadetblue;
  color: #111;
  border-radius: 10px;
}